@import url("./total_section.css");
* {
      margin: 0;
      padding: 0;
  }
html,
body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      height: 100%;
      width: 100%;
  }
@media screen and (max-width:1313px) {
    div.city {
          width: 350px;
      }
    div.city-image {
          width: 105px;
      }
    div.city-option {
          width: 150px;
      }
    .city-optionbox {
          font-size: 18px;
      }
    div.total-city-date {
          font-size: 10px;
          width: 150px;
      }
    span.current-time {
          font-size: 25px;
          width: 65px;
      }
    span.subscript-value {
          font-size: 18px;
      }
    span.date-log1 {
          font-size: 17px;
      }
    img.time-now {
          background-size: 20px;
          height: 20px;
          width: 20px;
      }
    div.temp-humidity {
          font-size: 12px;
      }
    span.temp-style {
          font-size: 13px;
      }
    span.value-style {
          font-size: 19px;
      }
    span.value-style1{
        font-size: 19px;
      }
    span.value-style2{
        font-size: 19px;
      }
    div.divline {
          width: 15px;
      }
    div.temperature {
          width: 75px;
      }
    div.daily-temp {
          font-size: 12px;
      }
    div.currentlog1 {
          height: 27%;
      }
    div.currentlog {
          height: 23.5%;
      }
  }
@media screen and (max-width:970px) {
    div.city {
          width: 275px;
      }
    div.city-image {
          width: 95px;
      }
    div.city-option {
          width: 120px;
      }
    .city-optionbox {
          font-size: 16px;
      }
    div.total-city-date {
          font-size: 12px;
          width: 125px;
      }
    span.current-time {
          font-size: 18px;
      }
    span.date-log1 {
          font-size: 11px;
      }
    span.subscript-value {
          font-size: 12px;
      }
    img.time-now {
          height: 20px;
          width: 20px;
      }
    span.temp-style {
          font-size: 12px;
      }
    span.value-style {
          font-size: 14px;
      }
    span.value-style1{
        font-size: 14px;
      }
    span.value-style2{
        font-size: 14px;
      }
    div.divline {
          width: 15px;
      }
    div.temperature {
          width: 75px;
      }
    div.daily-temp {
          font-size: 9px;
      }
    img.weather-img {
          background-size: 10px;
          height: 10px;
          width: 20px;
      }
    img.weather-img {
          height: 14px;
          width: 14px;
      }
    div.currentlog1 {
          height: 27.5%;
      }
    div.currentlog {
          height: 19.5%;
      }
  }
@media screen and (max-width:765px) {
    div.city {
          width: 215px;
      }
    div.city-image {
          width: 85px;
      }
    div.city-option {
          width: 100px;
      }
    .city-optionbox {
          font-size: 14px;
      }
    div.total-city-date {
          font-size: 10px;
          width: 115px;
      }
    span.current-time {
          font-size: 16px;
      }
    span.date-log1 {
          font-size: 10px;
      }
    span.subscript-value {
          font-size: 10px;
      }
    img.time-now {
          height: 20px;
          width: 20px;
      }
    span.temp-style {
          font-size: 10px;
      }
    span.value-style {
          font-size: 11px;
      }
    span.value-style1{
        font-size: 11px;
      }
    span.value-style2{
        font-size: 11px;
      }
    div.divline {
          width: 10px;
      }
    div.temperature {
          width: 50px;
      }
    div.daily-temp {
          font-size: 7px;
      }
    img.weather-img {
          height: 14px;
          width: 14px;
      }
    div.currentlog {
          height: 16.5%;
      }
  }
.first-container {
      align-items: center;
      background-size: cover;
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./Assets/HTML & CSS/General Images & Icons/background.svg");
      display: flex;
      flex-direction: column;
      height: 30%;
      justify-content: center;
  }
.content-container {
      display: flex;
      flex-direction: row;
      height: 80%;
      justify-content: center;
      width: 100%;
  }
.city {
      display: flex;
      flex-direction: row;
      width: 30%;
  }
.city-image {
      display: flex;
      flex-direction: column;
      width: 25%;
  }
.city-images {
      background-position-y: center;
      background-repeat: no-repeat;
      background-size: 85%;
      /* background: url("./Assets/HTML & CSS/Icons for cities/maseru.svg"); */
      height: 50%;
      min-width: 80px;
  }
.subscript-value {
      color: #FCe2b2;
      font-size: 15px;
  }
.city-option {
      align-self: center;
      color: #FeFeFe;
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 50%;
  }
.city-optionbox {
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), gray;
      color: #FeFeFe;
      font-family: "Trebuchet MS";
      font-size: 20px;
      font-weight: 1;
      height: 70%;
      outline: 0px;
      width: 100%;
  }
.current-time {
      color: #FCe2b2;
      font-size: 35px;
      font-weight: bolder;
  }
.date-log1 {
      font-size: 18px;
      font-weight: 600;
  }
.city-time {
      display: flex;
      flex-direction: row;
  }
.total-city-option {
      align-items: flex-end;
      display: flex;
      height: 50%;
      justify-content: flex-start;
      width: 100%;
  }
.total-city-date {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      height: 50%;
      justify-content: center;
      width: 170px;
  }
.time-now {
      background-repeat: no-repeat;
      background-size: 45px;
      height: 45px;
  }
.temp-humidity {
      display: grid;
      grid-template-columns: 40% 20% 40%;
      padding-top: 10 px;
      width: 25%;
  }
.temperature {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 60%;
  }
.celsius-farenheit {
      display: flex;
      flex-direction: column;
      height: 100%;
  }
.celsius {
      display: flex;
      flex-direction: column;
      height: 50%;
  }
.farenheit {
      align-items: flex-end;
      height: 50%;
      justify-content: flex-start;
  }
.temp-style {
      color: #FeFeFe;
      font-size: 15px;
  }
.value-style {
      color: #FeFeFe;
      font-size: 20px;
      font-weight: bold;
  }
.value-style1 {
      color: #FeFeFe;
      font-size: 20px;
      font-weight: bold;
  }
.value-style2 {
      color: #FeFeFe;
      font-size: 20px;
      font-weight: bold;
  }
.temp-title {
      align-items: flex-end;
      display: flex;
      height: 50%;
      justify-content: flex-start;
  }
.temp-value {
      align-items: flex-end;
      display: flex;
      height: 50%;
      justify-content: flex-start;
  }
.divline {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 20%;
  }
.dotted-line {
      color: darkgray;
  }
.temp-divline {
      align-items: center;
      border-color: gray;
      border-left-style: dotted;
      border-width: 2px;
      display: flex;
      height: 40%;
      justify-content: center;
  }
.temps-humidity {
      height: 10%;
  }
.humidity-divline {
      align-items: center;
      border-color: gray;
      border-left-style: dotted;
      border-width: 2px;
      display: flex;
      height: 40%;
      justify-content: center;
  }
.humidity-precipitation {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 75%;
  }
.humidity {
      display: flex;
      flex-direction: column;
      height: 50%;
  }
.precipitation {
      display: flex;
      flex-direction: column;
      height: 50%;
  }
.humidity-title {
      align-items: flex-end;
      display: flex;
      height: 50%;
      justify-content: flex-start;
  }
.humidity-value {
      align-items: flex-end;
      display: flex;
      height: 50%;
      justify-content: flex-start;
  }
.daily-temp {
      display: flex;
      flex-direction: row;
      width: 45%;
  }
.daily-time {
      color: #FeFeFe;
      display: flex;
      flex-direction: column;
      font-weight: bold;
      width: 9.9%;
  }
.daily-time1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 9.9%;
  }
.currentlog1 {
      align-items: top;
      color: #FeFeFe;
      display: flex;
      flex-direction: row;
      font-weight: bold;
      height: 25%;
      justify-content: center;
  }
.time-log{
      align-items: flex-end;
      display: flex;
      height: 25%;
      justify-content: center;
  }
.currentlog {
      align-items: flex-end;
      display: flex;
      font-weight: bold;
      height: 27%;
      justify-content: center;
  }
.weather-imgs {
        align-items: flex-end;
        display: flex;
        height: 25%;
        justify-content: center;
    }
.weather-img
{
     height:30px;
 }
.time-actual {
      align-items: flex-end;
      display: flex;
      height: 25%;
      justify-content: center;
  }